<div [formGroup]="sectionForm">
    <div class="methodology-section-heading clr-row clr-align-items-end">
        <!-- Section name -->
        <div class="clr-col-auto">
            <h3>{{ sectionForm?.get('number').value }}.</h3>
        </div>
        <div class="clr-col">
            <input type="text" id="name" formControlName="name" class="clr-input" />
        </div>
        <!-- Add methodology section -->
        <div class="clr-col-auto">
            <button type="button" class="btn btn-icon btn-link" (click)="newMethodologyTask()">
                <clr-icon title="New methodology task" shape="plus"></clr-icon>
            </button>
        </div>
    </div>

    <!-- Tasks -->
    <redbull-methodology-task
        *ngFor="let task of sectionForm['controls'].tasks['controls']; let i = index; trackBy: task?.get('id').value"
        [sectionForm]="sectionForm"
        [taskForm]="task"
    ></redbull-methodology-task>
</div>
