// Import global stylesheet
@import 'abstracts/variables.scss';

:host {
    background-color: $base03;
    width: $redbull-sidebar-width;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: $redbull-content-padding;
}

:first-child {
    margin-top: 0;
}
