// Import global stylesheet
@import 'abstracts/variables.scss';

input.title {
    font-size: 28px;
    padding: 6px;
    max-height: 2rem;
    height: 2rem;
    width: 100%;
}

.clr-row.path {
    margin: 0px;
    div {
        padding-left: 0px;
    }
    p {
        margin-top: 4px;
        margin-bottom: $redbull-content-padding;
    }
}

input {
    min-width: 40%;
}
