// Import global stylesheet
@import '_variables.scss';

:first-child {
    margin-top: 0;
}

p.path {
    margin-top: 0px;
    margin-bottom: $redbull-content-padding;
}

input {
    min-width: 40%;
}
