<div class="clr-row clr-justify-content-between clr-align-items-center">
    <div class="clr-col-auto">
        <h6>Methodologies</h6>
    </div>
    <div class="clr-col-auto">
        <button type="button" class="btn btn-icon btn-link btn-sm" (click)="newMethodology()">
            <clr-icon title="New methodology" shape="plus"></clr-icon>
        </button>
    </div>
</div>

<redbull-sidebar-list-item
    *ngFor="let methodology of methodologyList$ | async; trackBy: trackByMethodology"
    [selected]="methodology.path === (methodology$ | async)?.path"
    [title]="methodology.methodologyName"
    [subtitle]="methodology.path"
    (click)="onMethodologySelected(methodology)"
></redbull-sidebar-list-item>
