// Import global stylesheet
@import 'abstracts/variables.scss';

.methodology-task-heading {
    min-height: $redbull-list-height-small;
}

h4 {
    margin-top: 0px;
    margin-left: 50px;
    width: 20px;
}

input {
    font-size: 18px;
    max-height: 2rem;
    height: 2rem;
    width: 100%;
}
