////////////////////////////////////////////
// Global styles
////////////////////////////////////////////

// Import global stylesheet
@import './_variables';

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
