// Import global stylesheet
@import '_variables.scss';

.methodology-section {
    min-height: $redbull-list-height;
    background-color: $base02;
    .clr-row,
    input {
        width: 100%;
    }
}

h3 {
    margin-top: 0px;
    width: 20px;
}

input {
    font-size: 18px;
    max-height: 2rem;
    height: 2rem;
}
