<form [hidden]="!isMethodologyLoaded()" [formGroup]="methodologyForm" ngxsForm="methodologyState.methodologyForm" class="clr-form clr-form-horizontal">
    <!-- Methodology name -->
    <div class="clr-form-control clr-row">
        <!-- Methodology title-->
        <div class="clr-control-container clr-col">
            <div class="clr-input-wrapper">
                <input type="text" id="methodologyName" formControlName="methodologyName" class="clr-input title" />
            </div>
        </div>

        <!-- Add methodology section -->
        <div class="clr-col-auto">
            <button type="button" class="btn btn-icon btn-link" (click)="newMethodologySection()">
                <clr-icon title="New methodology section" shape="plus"></clr-icon>
            </button>
        </div>
    </div>

    <!-- Path subtitle -->
    <div class="clr-form-control clr-row path">
        <div class="clr-control-container clr-col-12 clr-col-md-9">
            <p class="path">{{ methodologyForm?.get('path').value }}</p>
        </div>
    </div>

    <!-- Methodology sections -->
    <div [dragula]="DRAGULA_METHODOLOGY_SECTION" class="methodology-section-wrapper" [(dragulaModel)]="methodologyForm['controls'].sections['controls']">
        <redbull-methodology-section
            *ngFor="let section of methodologyForm['controls'].sections['controls']; let i = index; trackBy: section?.get('id').value"
            [sectionForm]="section"
        ></redbull-methodology-section>
    </div>
</form>
