// Import global stylesheet
@import 'abstracts/variables.scss';

$navbar-width: 60px;

:host {
    background-color: $base02;
    width: $navbar-width;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navbar-icon {
    &.active,
    :hover {
        background-color: $base03;
    }
}

clr-icon {
    margin: 15px;
    height: 30px;
    width: 30px;
}
